/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* 

/////////////////////////////////////////////////////////////////////////////////////
//                                                                                 //
//    ██████╗ ██████╗  ██████╗ ███████╗    ███╗   ██╗ ██████╗ ████████╗ █████╗     //
//    ██╔══██╗██╔══██╗██╔═══██╗██╔════╝    ████╗  ██║██╔═══██╗╚══██╔══╝██╔══██╗    //
//    ██████╔╝██████╔╝██║   ██║█████╗      ██╔██╗ ██║██║   ██║   ██║   ███████║    //
//    ██╔═══╝ ██╔══██╗██║   ██║██╔══╝      ██║╚██╗██║██║   ██║   ██║   ██╔══██║    //
//    ██║     ██║  ██║╚██████╔╝██║██╗      ██║ ╚████║╚██████╔╝   ██║   ██║  ██║    //
//    ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝╚═╝      ╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚═╝  ╚═╝    //
//                                                                                 //
//    Prof. NOTA - @MyReceiptt - @MyReceipt                                        //
//                                                                                 //
//    If you managed to find and read this article,                                //
//    then this is a validation that you have a big enough curiosity.              //
//    At the same time, I congratulate you for being one of the pioneers...        //
//    who are ready to face The Melting Land phenomenon.                           //
//                                                                                 //
//    If this internet and the digital world are an open sea...                    //
//    where all the water is connected and our real life is a land...              //
//    from where we came from, then we must push ourselves...                      //
//    to understand what is the web3.0 era to survive The Melting Land.            //
//                                                                                 //
//    So, let's contribute, delegate, collect, create, and repeat!                 //
//                                                                                 //
//    As my gratitude to all of you who read this, please DM me...                 //
//    and show me this message so I can give you a ticket...                       //
//    to jump in Roty Broi's Ark and we can sail The Melting Land together.        //
//                                                                                 //
//    Prof. NOTA - @MyReceiptt - @MyReceipt                                        //
//    Deep Link: https://crot.straight-line.org/                                   //
//                                                                                 //
/////////////////////////////////////////////////////////////////////////////////////

*/